---
http_interactions:
- request:
    method: post
    uri: https://api.nal.usda.gov/fdc/v1/search?api_key=<ENV['FDC_API_KEY']>
    body:
      encoding: UTF-8
      string: '{"generalSearchInput":"030000400036"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"generalSearchInput":"030000400036","pageNumber":1,"requireAllWords":false},"totalHits":1,"currentPage":1,"totalPages":1,"foods":[{"fdcId":538677,"description":"BARS","dataType":"Branded","gtinUpc":"030000400036","publishedDate":"2019-04-01","brandOwner":"The
        Quaker Oats Company","ingredients":"WHOLE GRAIN ROLLED OATS, SOY CRISP RICE
        (SOY PROTEIN ISOLATE, RICE STARCH), INVERT SUGAR, BROWN SUGAR, OLIGOFRUCTOSE,
        RAISINS, PECANS, SUGAR, WATER, POLYDEXTROSE, VEGETABLE SHORTENING (CANOLA
        OIL, PALM OIL, PALM KERNEL OIL), GLYCERIN, WHOLE OAT FLOUR. CONTAINS 2% OR
        LESS OF OAT BRAN CONCENTRATE, DRIED WHOLE EGGS, MODIFIED FOOD STARCH, DEXTROSE,
        CORN SYRUP, NATURAL FLAVOR, FRUCTOSE, MALTED BARLEY EXTRACT, CALCIUM CARBONATE,
        CINNAMON, SODIUM BICARBONATE, SALT, CORN FLOUR, SODIUM ALGINATE, MALIC ACID,
        SUNFLOWER OIL, ENZYME MODIFIED SOY PROTEIN, ALMONDS, ALPHA TOCOPHEROL ACETATE
        (VITAMIN E), NIACINAMIDE (VITAMIN B3), TOCOPHEROLS, SODIUM HEXAMETAPHOSPHATE,
        VITAMIN A PALMITATE, THIAMIN MONONITRATE (VITAMIN B1), RIBOFLAVIN (VITAMIN
        B2), PYRIDOXINE HYDROCHLORIDE (VITAMIN B6), CYANOCOBALAMIN (VITAMIN B12).
        ","allHighlightFields":"<b>GTIN/UPC</b>: <em>030000400036</em>","score":-747.62915}]}'
  recorded_at: Wed, 08 Jan 2020 23:01:02 GMT
recorded_with: VCR 5.0.0
